spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/shopping_app
    username: raayaay
    password:   # add your DB password here
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  flyway:
    enabled: false
    locations: classpath:db/migration

server:
  port: 8080

jwt:
  secret: ${JWT_SECRET}
  expirationMs: 86400000
